<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
	<div class="logo">
		<h3>毕设文档管理系统-学生端</h3>
		<img src="../static/images/bg.jpg" alt="">
		<div class="logo_son">
			<ul>
				<li class="nav_active">登录</li>
				<li>注册</li>
			</ul>
			<div class="login">
				<form action="/student_login/" method="post">
					<p><input type="text" placeholder="请输入账号" name="uname"></p>
					<p><input type="password"placeholder="请输入密码" name="pwd"></p>
					<p><input type="submit" value="登录"/></p>
				</form>
			</div>
			<div class="register">
				<form action="/student_register/" method="post">
					<p><input type="text"placeholder="请设置账号" name="newuname"></p>
					<p><input type="password" placeholder="请设置密码" name="newpwd"></p>
					<p><input type="password" placeholder="请再次设置密码"></p>
					<p><input type="text" placeholder="请输入真实姓名" name="s_name"></p>
					<p><input type="text" placeholder="请输入年级（若2020级则填2020）" name="s_grade"></p>
					<p><input type="text" placeholder="请输入班级（若数媒技3班则填3）" name="s_class"></p>
					<p><input type="text" placeholder="请输入学院全称" name="s_school"></p>
					<p><input type="text" placeholder="请输入导师工号" name="tid"></p>
					<p><input type="text" placeholder="请输入毕设题目全称" name="s_title"></p>
					<p><input type="text" placeholder="请输入专业全称" name="s_major"></p>
					<!-- <p><button>注册</button></p> -->
					<p><input type="submit" value="注册"/></p>
			    </form>
			</div>
		</div>
	</div>
	<script src="../static/js/index.js"></script>
</body>
</html>